<div th:insert="layout/header::header(title='用户列表（无分页）',status='list')"/>
<body>
<div class="container">
    <h2 class="text-center text-primary">用户列表</h2>
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>password</th>
            <th>sex</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" user :${user}" class="table-row-cell">
            <td scope="row" th:text="${userStat.count}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.sex}=='M'?'男':'女'"></td>
            <td><a th:href="${'/toEdit/'+user.id}" class="text-info">编辑</a></td>
            <td><a th:href="@{/delete(id=${user.id})}" class="text-primary">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</div>
<div th:insert="layout/footer::footer"/>